{{ define "Service" }}
{{ $name := .ServiceName }}
{{ $upper_camel_case := $name.UpperCamelCase }}
// Server - Here is the gRPC server that Client talks to.
type Server struct {
	Impl shared.{{$upper_camel_case}}Interface
}
{{ range .Methods -}}
 {{ template "Method" . }}
{{end}}
{{ end }}